<ion-content>
    <div style="width:100%">
        <ion-icon class="ion-padding ion-margin-bottom ion-margin-top" name="close" (click)="closeModal()" style="font-size: 30px;" float-right></ion-icon>
    </div>

    <div class="ion-padding-start ion-padding-top ion-margin-top">
        <h1>Transaction detail</h1>
    </div>


    <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Name</ion-card-subtitle>
          <ion-card-title class="name">{{transaction.getName()}}</ion-card-title>
        </ion-card-header>

        <ion-card-header>
          <ion-card-subtitle>Amount</ion-card-subtitle>
          <ion-card-title class="amount"><span [ngClass]="{'surplus':transaction.getType() === 1, 'deficit':transaction.getType() ===0 }">${{transaction.getAmount()}}</span></ion-card-title>
        </ion-card-header>

        <ion-card-header>
          <ion-card-subtitle>Date</ion-card-subtitle>
          <ion-card-title>{{transaction.getDate()}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          This transaction is logged in {{accName}}.
        </ion-card-content>

    </ion-card>
</ion-content>
