<ion-content>

    <div style="width:100%">
        <ion-icon class="ion-padding ion-margin-bottom ion-margin-top" name="close" style="font-size: 30px;" float-right
                  (click)="closeModal()"></ion-icon>
    </div>


    <div class="ion-padding-start ion-padding-top ion-margin-top">
        <h1>Add Transaction!</h1>
    </div>

    <div style="width:100%;padding-top:1px" class="">
        <i class="fa fa-barcode fa-2x ion-padding ion-margin-bottom ion-margin-top ion-margin-end"
           (click)="openBarcodeScanner()"></i>
    </div>
    <div>
        <!-- Number type input -->
        <ion-item lines="full">
            <ion-label position="stacked" color="primary" class="input-label">Transaction name</ion-label>
            <ion-input type="text" value="" autocapitalize=sentences [ngClass]="{warn: warning}"
                       [(ngModel)]="nameVal"></ion-input>
        </ion-item>

        <ion-item lines="full" class="ion-margin-bottom">
            <ion-label position="stacked" color="primary" class="input-label">Amount</ion-label>
            <input type="text" pattern="[0-9]*" class="custom-input" decimal="true" value="0.0"
                   [ngClass]="{warn: amountWarning}" [(ngModel)]="amountVal">
        </ion-item>


        <ion-segment (ionChange)="segmentChanged($event)" color="primary">
            <ion-segment-button value="expenses" checked>
                <ion-label>Expenses</ion-label>
            </ion-segment-button>
            <ion-segment-button value="income">
                <ion-label>Income</ion-label>
            </ion-segment-button>
        </ion-segment>
    </div>


    <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="ion-margin-bottom">
        <ion-fab-button (click)="add()" color="primary">
            <ion-icon ios="ios-add" md="md-add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>
