@import '../../../theme/icons';


.input-label {
  font-size: 1.1em;
}


.add-bar {
  font-size: 0em;
  margin-righ: 10px;
}

.warn {
  border: 1px solid red;
  border-radius: 2px;
}

//this css emulate ion-input, needed for the input tag for decimal input
.custom-input {
  padding-left: unset;
  padding-right: unset;
  -webkit-padding-start: var(--padding-start);
  padding-inline-start: var(--padding-start);
  -webkit-padding-end: var(--padding-end);
  padding-inline-end: var(--padding-end);
  border-radius: var(--border-radius);

  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  text-decoration: inherit;
  text-overflow: inherit;
  text-transform: inherit;
  text-align: inherit;
  white-space: inherit;
  color: inherit;
  display: inline-block;
  flex: 1;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  border: 0;
  outline: none;
  background: transparent;
  box-sizing: border-box;
  -webkit-appearance: none;
}
