<ion-content class="content ion-padding">
    <h1 class="ion-margin-top ion-padding-top">QcK Budget <ion-icon name="information-circle-outline" float-right (click)="showAbout()"></ion-icon></h1>

    <ion-card *ngIf="acc !== undefined" (click)="showViewAccounts()">
      <ion-card-header>
        <ion-card-subtitle >Account<ion-icon class="custom-account-icon ion-padding-start" style="font-size:3em" float-right></ion-icon></ion-card-subtitle>
        <ion-card-title>{{acc.getName()}}</ion-card-title>
      </ion-card-header>

      <ion-card-content class="amount">
        Balance: <span [ngClass]="{'surplus' : acc.getBalance()>0 , 'deficit':acc.getBalance()<0}">${{acc.getBalance()}}</span>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="acc === undefined" (click)="showAddAccount()">
      <ion-card-header>
        <ion-card-subtitle>Account<ion-icon class="custom-account-icon ion-padding-start" style="font-size:3em" float-right></ion-icon></ion-card-subtitle>
        <ion-card-title>No account</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        You currently don't have an account, tap the card to add an account.
      </ion-card-content>
    </ion-card>

    <div *ngIf="acc !== undefined">

        <ion-card *ngIf="acc.getTransactions().length === 0;">
          <ion-card-header>
            <ion-card-subtitle><ion-icon class="custom-transaction-icon ion-padding-start" style="font-size:3em" float-right></ion-icon></ion-card-subtitle>
            <ion-card-title>No Transaction</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            This account currently have no transaction.
          </ion-card-content>
        </ion-card>


        <ion-card *ngIf="acc.getTransactions().length !== 0;" (click)="showViewTransactions()">
          <ion-card-header>
            <ion-card-subtitle>Latest Transaction<ion-icon class="custom-transaction-icon" style="font-size:2.5em" float-right></ion-icon></ion-card-subtitle>
            <ion-card-title class="truncate">{{acc.getTransactions()[acc.getTransactions().length-1].getName()}}</ion-card-title>
          </ion-card-header>

          <ion-card-content class="amount">
            Amount:<span *ngIf="acc.getTransactions()[acc.getTransactions().length-1].getType() === 1" class="surplus">+</span><span *ngIf="acc.getTransactions()[acc.getTransactions().length-1].getType() === 0" class="deficit">-</span><span [ngClass]="{'surplus':acc.getTransactions()[acc.getTransactions().length-1].getType() === 1,'deficit':acc.getTransactions()[acc.getTransactions().length-1].getType() === 0}">${{acc.getTransactions()[acc.getTransactions().length-1].getAmount()}}</span>
          </ion-card-content>
        </ion-card>

    </div>
    <!-- Default Floating Action Button that scrolls with the content.-->

  <ion-fab vertical="bottom" slot="fixed" horizontal="end" class="ion-margin-bottom">
      <ion-fab-button [disabled]="acc === undefined" (click)="navigateToAdd()" color="primary">
         <ion-icon ios="ios-add" md="md-add"></ion-icon>
      </ion-fab-button>
  </ion-fab>

</ion-content>
